<!--JPA 와 다르게 파라미터로 필요한 영역을 전달해서 처리 가능 그래서 필요한 부분을 파라미터로 전달하는 방식으로 공통의 레이아웃을 사용할 수 있음 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--  content 파라미터를 받을 수 있다-->
  <th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <title>Lay OUT</title>
    </head>
    <body>
      <style>
        * {
          margin: 0;
          padding: 0;
        }
        .header{
          width: 100vw;
          height: 20vh;
          background-color: aqua;
        }
        .content {
          width: 100vw;
          height: 70vh;
          background-color: lightseagreen;
        }
        .footer {
          width: 100vw;
          height: 10vh;
          background-color: lightcoral;
        }
      </style>
      <div class="header">
        <h1>HEADER</h1>
      </div>
      <div class = "content">
<!--        파라미터로 전단될 Content를 출력한다. -->
        <th:block th:replace = "${content}"></th:block>
      </div>
      <div class = "footer">
        <h1>FOOTER</h1>
      </div>
    </body>
  </th:block>
</html>