<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>exLink</title>
</head>
<body>
    <ul>
        <li th:each="dto: ${list}">
            <a th:href="@{/sample/exView}">[[${dto}]]</a>
        </li>
    </ul>
    <p>sno를 쿼리 스트링으로 사용</p>
    <ul>
        <li th:each="dto: ${list}">
            <a th:href="@{/sample/exView(sno=${dto.sno})}">[[${dto}]]</a>
        </li>
    </ul>
    <p>sno 를 path로 사용</p>
    <ul>
        <li th:each="dto: ${list}">
            <a th:href="@{/sample/exView/{sno}(sno=${dto.sno})}">[[${dto}]]</a>
        </li>
    </ul>

</body>
 

</html>